.main {
    backdrop-filter: blur(1px);
    /* background: transparent; */
    border-radius: 10px;
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
    animation-duration: 0.2s;
    /* animation-delay: 0.3s; */
    animation-fill-mode: backwards;
    animation-name: animate-glow;
    animation-timing-function: ease;
}

#top {
    background-size: 3em 3em;
    /* background-image: radial-gradient(circle, var(--secondary) , 1px, rgba(0, 0, 0, 0) 1px) !important; */
}


@keyframes animate-glow {
    0% {
        opacity: 0;
        /* filter: brightness(3) saturate(3); */
        transform: scale(0.1, 0.8);
    }

    100% {
        opacity: 1;
        /* filter: brightness(1) saturate(1); */
        transform: scale(1, 1);
    }
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
